

<div class="footer" id="contact">
	<div class="container">
	
		<div class="copy_right text-center">
			 <p>&copy; 2021 All rights reserved | Design by Tahera Firdose</p>
			 <hr class="my-4" style="background-color: crimson;">
			 	<section class="mb-4">
          <!-- Facebook -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/tahera.firdose.3/" target="top" role="button"
             ><i class="fab fa-facebook-f"	></i
            ></a>

          <!-- Linkedin -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/tahera-firdose/" target="top" role="button"
             ><i class="fab fa-linkedin-in"></i
            ></a>

          <!-- Github -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/taherafirdose" target = "top" role="button"
             ><i class="fab fa-github"></i
            ></a>
        </section>
		</div>
	</div>
</div>
