<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/owl.carousel.css'>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'>
	<link href="images/favicon.png" rel="shortcut icon"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 	<meta name="keywords" content="Tahera Firdose, Automation Engineer, Blogger, Freelancer, Hire me"/>
 	<!-- webfonts -->
 	<link href='//fonts.googleapis.com/css?family=Asap:400,700,400italic' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){     
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
  </head>
  <body>
    <!-- container -->
			<!-- header -->
	<%- include partials/header.ejs %>
			
			
	
	<!-- //portfolio -->
	<!-- top-grids -->
				<div class="blog" id="projects">
					<div class="container">
						<div class="service-head text-center">
						
						<h3>MY <span>PROJECTS</span></h3>
						<span class="border one"></span>
					</div>
					   <div class="news-grid w3l-agile">
						<div class="col-md-6 news-img">
						  <a href="#" data-toggle="modal" data-target="#myModal1"> <img src="images/p1.jpg" alt=" " class="img-responsive"></a>
						 
						</div>
						<div class="col-md-6 news-text">
						   <h3> <a href="#">DBS Unsecured Loan</a></h3>
							<!-- <ul class="news">
								<li><i class="glyphicon glyphicon-user"></i> <a href="#">Admin</a></li>
								<li><i class="glyphicon glyphicon-comment"></i> <a href="#">2 Comments</a></li>
								<li><i class="glyphicon glyphicon-heart"></i> <a href="#">50 Likes</a></li>
								<li><i class="glyphicon glyphicon-tags"></i> <a href="#">3 Tags</a></li>
							</ul> -->
							<p>The mobile app developed is used for personal loans in an instant, effortless, and paperless way with highly competitive, flexible tenures and easy options for loan repayment. You can download mobile app, and have the desired funds transferred to your bank account in a moment! If you are eligible to avail pre-approved personal loan, you might even get a disbursal immediately.</p>
						    <h4>Roles:</h4>
							<p>1.Lead Integration QA tester Responsible for Design and Execution of Quality Assurance plans for Unit, Functional, Integration and Regression testing of the Application
							   2.Test Automation Frameworks creation and customization. Designing and executing test scripts using Selenium, Java, BDD/ Cucumber. Later, pushing them to Git repository using BitBucket and scheduling the tests for execution using Azure Devops.  </p>
							</div>
		
						<div class="clearfix"></div>
					 </div>
					  <div class="news-grid">

						<div class="col-md-6 news-text two">
						   <h3> <a href="#" >Asda</a></h3>
						
							<p>Asda Stores Ltd. (stylised as ASDA) is a British-based, American-owned supermarket chain which retails food, clothing, general merchandise, toys and financial services. This Project is used to maintain and track the inventory in their warehouse, also tracking and fulfilling the orders for their different stores and customers.</p>
							<h4>Roles:</h4>
							<p>Evaluate the functional requirements for testability and suitability for automation, participate in project calls & meetings to communicate status or give demos. Plan manage and conduct end to end testing activities from test preparation to test execution and maintenance.</p>
						</div>
						<div class="col-md-6 news-img two">
						   <a href="#" data-toggle="modal" data-target="#myModal1"> <img src="images/p2.jpg" alt=" " class="img-responsive"></a>
						 
						</div>
						<div class="clearfix"></div>
					 </div>
					  <div class="news-grid">
						<div class="col-md-6 news-img">
						  <a href="#" data-toggle="modal" data-target="#myModal1"> <img src="images/p3.jpg" alt=" " class="img-responsive"></a>
						 
						</div>
						<div class="col-md-6 news-text">
						   <h3> <a href="#" data-toggle="modal" data-target="#myModal1">Adidas</a></h3>
							<!-- <ul class="news">
								<li><i class="glyphicon glyphicon-user"></i> <a href="#">Admin</a></li>
								<li><i class="glyphicon glyphicon-comment"></i> <a href="#">2 Comments</a></li>
								<li><i class="glyphicon glyphicon-heart"></i> <a href="#">50 Likes</a></li>
								<li><i class="glyphicon glyphicon-tags"></i> <a href="#">3 Tags</a></li>
							</ul> -->
							<p>Adidas is a German multinational corporation, founded and headquartered in Herzogenaurach, Germany, that designs and manufactures shoes, clothing and accessories. This Project was developed to manage the shipping, inventory management and cross docking for their various warehouses.</p>
						    <h4>Roles:</h4>
							<p>1.Participating in client interactions, presentations, onsite-offshore coordination, estimations, code review, code documentation, project calls & meetings to communicate status or give demos, doing Proof of concepts for new automation tools
							   2.Designing and executing test scripts using Selenium, Java, BDD/ Cucumber. Later, pushing them to Git repository using Bitbucket and scheduling the tests for execution using Jenkins.</p>
						</div>
		
						<div class="clearfix"></div>
					 </div>
					</div>
				</div>
				<!-- top-grids -->
	

<!-- why hire me -->


			<!-- /footer -->
<%- include partials/footer.ejs %>

<a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--start-smooth-scrolling-->
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
											containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
										};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
								<!--end-smooth-scrolling-->
<!-- //for bootstrap working -->
	<script src="/javascripts/bootstrap.js"></script>
	
  </body>
</html>
